/* 单词容器 */
.pronunciation-container {
    line-height: 2;
    transition: opacity 0.3s ease;
    opacity: 1;
    display: inline;
}
/* 单词与发音混合容器 */
.word-container {
    display: inline-block;
    position: relative;
    text-align: center;
}
/* 发音提示 */
.pronunciation-tooltip {
    position: absolute;
    background: transparent;
    color: #40a2d7;
    font-size: 0.7em;
    font-family: Arial, sans-serif;
    line-height: 1;
    top: -0.2em;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    letter-spacing: -0.2px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}
/* 原始单词 */
.word-text {
    display: inline-block;
}
/* 隐藏内容 */
.pronunciation-hidden {
    opacity: 0 !important;
    pointer-events: none;
    position: relative;
    display: none !important;
}
.pronunciation-hidden * {
    display: none !important;
}